[Unit]
Description = Sagyoipe - Minimal screen sharing web service

[Service]
ExecStart = sagyoipe -logfile /var/log/sagyoipe/sagyoipe.log
Type = simple
Restart = alweys

[Install]
WantedBy = multi-user.target
